<partial name="_Hero"></partial>
<!-- ======= Hero Section ======= -->

<main id="main">

    <partial name="_About"></partial>

    <partial name="_WhyUS"></partial>

    <partial name="_StatsCounter"></partial>

    <partial name="_Menu"></partial>

    <!--<partial name="_Testimonials"></partial> -->

    <partial name="_Events"></partial>

    <partial name="_Chefs"></partial>

    <partial name="_BookATable"></partial>

    <partial name="_Gallery"></partial>

    <partial name="_Contact"></partial>

  </main><!-- End #main -->