@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Policy"] = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ante libero, pharetra nec blandit ut, vulputate nec tortor. Morbi efficitur erat id mauris semper, dapibus lacinia nunc placerat. Cras arcu augue, iaculis rhoncus leo vel, sagittis vestibulum elit. Morbi non aliquet magna. Pellentesque sed porttitor eros. Duis molestie ligula eget orci eleifend tincidunt. Etiam pretium quam sit amet mi blandit, ac egestas magna elementum. Quisque accumsan eleifend magna. Sed posuere lacinia metus sit amet vehicula. Morbi vitae ultricies purus. Donec eu sem bibendum, suscipit enim sed, laoreet sem. Pellentesque feugiat lobortis felis, et pellentesque ipsum. Donec congue, justo nec finibus tempus, nunc sapien lacinia odio, quis semper nisl felis sit amet est. Nullam fermentum blandit odio, a aliquet urna faucibus ac. Vivamus eleifend ligula et est hendrerit, at luctus mi consequat.";
}
<h1>@ViewData["Title"]</h1>

<p>@ViewData["Policy"]</p>
